body {
  font-family: 'Vina Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: x-large;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
    
nav li {
  margin-left: 20px;
}

form {
  margin: 20px auto;
  text-align: center;
}
    
input[type="text"] {
  width: 60%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}
    
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
    
#gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  margin: 10px;
  max-width: 300px;
}
    
.gif img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 350px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  nav li {
    margin: 5px 0;
  }
  
  .gif {
    width: 100%;
  }
}
